
  
  <nav class="navbar is-primary">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        Bateau Thibaut
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-end" *ngIf="authenticated">
      <div class="navbar-item">
        <app-product-search></app-product-search>
      </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{ username }}
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Profile
            </a>
            <hr class="navbar-divider">
            <a routerLink="/logout" class="navbar-item has-text-danger">
              Logout
            </a>
          </div>
        </div>
        <div class="navbar-item">
          <a>
            <figure class="image is-60x60">
              <img class="is-rounded" src="https://i.pravatar.cc/300">
            </figure>
          </a>
        </div>
      </div>
  </nav>
  <div class="columns">
  <aside class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a>Customers</a></li>
    </ul>
    <p class="menu-label">
      Administration
    </p>
    <ul class="menu-list">
      <li><a routerLink="/products">Products</a></li>
      <li>
        <a>Manage Team</a>
        <ul>
          <li><a>Members</a></li>
          <li><a>Plugins</a></li>
          <li><a>Add a member</a></li>
          <li><a>Members</a></li>
        </ul>
      </ul>
  </aside>
  <div class="column content">
    <!-- <div *ngIf="authenticated">
      <p style="color: blue">
        Logged in as <strong>{{ username }}</strong>
        <span *ngIf="isAdmin"><strong>[administrator]</strong></span>
      </p>
    </div>
    
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/product-detail/5">Product Detail</a></li>
      <li><a routerLink="/user-content">User Content</a></li>
      <li *ngIf="isAdmin"><a routerLink="/admin-content">Admin Content</a></li>
      <li><a routerLink="/logout">Log out</a></li>
    </ul> -->
    <router-outlet></router-outlet>
  
  </div>
  </div>